<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="pagina web para la adopcion y donacion de la empresa cuatro patas">
  <meta name="keywords" content="cuatro patas, fundacion cuatro patas, adopcion , donar">
  <meta  name="author" content="faiber adrian abril">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuantro Patas</title>
  <link rel="stylesheet" href="css/estilosindex.css">
</head>
<body>

</body>
</html>
